extends ./layout/index
block contenido

    main.container.mt-5
        .row
            .col-md-5
                img(src="img/nosotros.jpg", class="img-fluid", alt="Imagen Nosotros")
            .col-md-7
                h1= pagina
                blockquote Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ullamcorper odio et velit porta faucibus. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Sed tincidunt enim rhoncus dui maximus, eget rutrum orci sollicitudin.

                p Donec bibendum suscipit nisl ut hendrerit. Nulla dapibus quam in elit venenatis porta at sed nunc. Duis et consectetur dui. Cras in porta ipsum. Maecenas cursus, felis sit amet suscipit efficitur, urna odio ullamcorper lorem, at laoreet erat felis quis quam.

                p Aliquam erat volutpat. Quisque semper diam nec nulla porttitor, eget dictum augue fermentum. Etiam eu tristique nisi, tincidunt lobortis risus. Donec eu convallis mauris. Donec eget eros id ex sollicitudin tincidunt id eu ligula. Donec porttitor pretium rhoncus. Nulla urna metus, commodo non urna sed, iaculis maximus turpis. Phasellus tristique vestibulum faucibus.

    .listado-iconos
        .container.mt-5.py-5.text-center
            .row
                .col-md-4
                    img(src="img/icono_seguridad.svg", alt="Icono Seguridad", class="img-fluid mb-4")
                    h2.mb-4 Seguridad
                    p Donec porttitor pretium rhoncus. Nulla urna metus, commodo non urna sed, iaculis maximus turpis. Phasellus tristique vestibulum faucibus.

                .col-md-4
                    img(src="img/icono_destinos.svg", alt="Icono Destinos", class="img-fluid mb-4")
                    h2.mb-4 Los Mejores Destinos
                    p Donec porttitor pretium rhoncus. Nulla urna metus, commodo non urna sed, iaculis maximus turpis. Phasellus tristique vestibulum faucibus.

                .col-md-4
                    img(src="img/icono_precios.svg", alt="Icono Precios", class="img-fluid mb-4")
                    h2.mb-4 Los Mejores Precios
                    p Donec porttitor pretium rhoncus. Nulla urna metus, commodo non urna sed, iaculis maximus turpis. Phasellus tristique vestibulum faucibus.
